// stylesheet imports
@import './contests.scss';

// font imports
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

// variables
$white: #fff;
$grey: #979ea5;

// base styles
html,
body {
  font-family: 'Raleway', sans-serif;
  color: $white;
}

.bg-white {
  background-color: $white;
  color: #020202;
}
.vh-resp {
  height: 90vh;
}
input {
  color: $white !important;
}
select {
  color: $white !important;
}
.bg-blue {
  background-color: #0d1117 !important;
}
